<h1>Mettez à jour votre mot de passe</h1>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <%= f.error_messages %>

  <div class="control-group">
    <%= f.label :password, "Nouveau mot de passe", :class => "control-label" %>
    <div class="controls"> <%= f.password_field :password %> </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation, "Confirmez nouveau mot de passe", :class => "control-label" %>
    <div class="controls"> <%= f.password_field :password_confirmation %> </div>
  </div>
  <div class="control-group">
    <div class="controls"><%= submit_tag "Mettez à jour", class: "btn btn-small btn-inverse" %></div>
  </div>
<% end %>