<h1>Artistes</h1>

<table class="table table-striped">
  <tr>
    <th>Prénom</th>
    <th>Nom de famille</th>
    <th>Courriel</th>
    <th>Numéro de téléphone</th>
    <th>Adresse de rue</th>
    <th>Ville</th>
    <th>Province</th>
    <th>Code Postal</th>
    <th>Pays</th>
    <th>Femme/Homme</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.street_address %></td>
      <td><%= user.city %></td>
      <td><%= user.province %></td>
      <td><%= user.postal_code %></td>
      <td><%= user.country %></td>
      <td><%= user.gender %></td>
    </tr>
  <% end %>
</table>