<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>
<h1>Artistes</h1>

<table class="table table-striped">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Phone Number</th>
    <th>Street Address</th>
    <th>City</th>
    <th>Province</th>
    <th>Postal Code</th>
    <th>Country</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.gender %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.street_address %></td>
      <td><%= user.city %></td>
      <td><%= user.province %></td>
      <td><%= user.postal_code %></td>
      <td><%= user.country %></td>
    </tr>
  <% end %>
</table>