<%= render partial: 'shared/progressbar', locals: { bar_percent: 33, step: "Étape 1 de 3"}%>

 <h1>Page profile pour <%= @current_user.first_name + " " + @current_user.last_name%></h1>

  <div class="table-profile">
  <table class="table table-striped">
  <tr>
    <td>Nom: </td>
    <td> <%= @current_user.first_name + " " + @current_user.last_name%></td>
  </tr>

  <tr>
    <td>Courriel: </td>
    <td> <%= @current_user.email %></td>
  </tr>

  <tr>
    <td>Numéro de téléphone: </td>
    <td> <%= @current_user.phone_number %></td>
  </tr>

  <tr>
    <td>Adresse de rue: </td>
    <td> <%= @current_user.street_address %></td>
  </tr>

  <tr>
    <td>Ville: </td>
    <td> <%= @current_user.city %></td>
  </tr>

  <tr>
    <td>Province: </td>
    <td> <%= @current_user.province %></td>
  </tr>

  <tr>
    <td>Code postal: </td>
    <td> <%= @current_user.postal_code %></td>
  </tr>

  <tr>
    <td>Pays: </td>
    <td> <%= @current_user.country %></td>
  </tr>

  <tr>
    <td>Femme/Homme: </td>
    <td> <%= @current_user.gender %></td>
  </tr>
  </table>
  </div>

  <%= link_to raw('<i class="icon-edit"></i> Editer profile'), edit_profile_path,class: "btn btn-small btn-inverse"  %>


  <% if @current_user.has_submission? %>
    <% if @current_user.recent_submission.complete %>
      <%= link_to 'Revisez soumission', submission_path, class: 'btn btn-large btn-primary' %>
    <% else %>
      <%= link_to 'Continuez soumission', submission_path, class: 'btn btn-large btn-primary', id: "link-Continue_Sub" %>
    <% end %>
  <% else %>
    <%= link_to 'Commencez dossier', new_submission_path, class: 'btn btn-large btn-primary' %>
  <% end %>
   </div>