<p><%= notice %></p>

<h1>Artist Profile for <%= @user.first_name %> <%= @user.last_name %></h1>

<table>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Gender</td>
    <td>Phone Number</td>
    <td>Street Address</td>
    <td>City</td>
    <td>Province</td>
    <td>Postal Code</td>
    <td>Country</td>
  </tr>
  <tr>
    <td><%= @user.first_name %></td>
    <td><%= @user.last_name %></td>
    <td><%= @user.email %></td>
    <td><%= @user.gender %></td>
    <td><%= @user.phone_number %></td>
    <td><%= @user.street_address %></td>
    <td><%= @user.city %></td>
    <td><%= @user.province %></td>
    <td><%= @user.postal_code %></td>
    <td><%= @user.country %></td>
  </tr>
</table>