<%= render partial: 'shared/progressbar', locals: { bar_percent: 66, step: "Étape 3 de 3"}%>

<p>Utilisez le boutons blanc ou
  glissez-déposez vos fichier d'images dans la boîte verte qui l'entoure.</p>

<p>En glissant-déposant, plusieurs images peuvent être ajoutés d'un coup. </p>

<p>Le mode glisser-déposer marche seulement si Javascript est activé dans votre browser.</br>
  (Le cas échéant, il faut utiliser le bouton "Ajouter Images".)</p>

<p>Un dossier doit comprendre 20 images numériques, ou 10 minutes maximum de documentation vidéo.</p>
<p> Si vous soumettez video, vous pouvez ajouter 0 à 10 images.</p>
<p>Les images numériques doivent:</p>
<ul>
  <li>être en format JPEG, avec extension de fichier .jpg </li>
  <li>ne pas dépasser 1024 (largeur) x 768 (hauteur) pixels</li>
  <li>avoir un minimum de 750 pixels dans au moins une dimension (largeur ou hauteur) </li>

<li>être de mode couleur RVB, sRVB ou gamme de gris</li>
</ul>
<p>Chaque nom de fichier d’image doit avoir un numéro, le nom de l’artiste et le titre de l’œuvre.</p>

<%= form_for [@submission, Image.new], html: {class: 'form-horizontal'} do |f| %>

  <div class="control-group">
    <%= f.label :image_file, "Fichiers d'images", :class => "control-label" %>
    <div class="controls"><%= f.file_field :image_file, multiple: true, name: "image[image_file]" %>
    </div>
  </div>
  <noscript>
    <div class="control-group">
      <div class="controls"> <%= f.submit "Ajouter images", class: "btn btn-small btn-inverse", id: "btn-Submit_Sub" %></div>
    </div>
  </noscript>

<% end %>
<%= button_to 'Finalisez soumission', complete_submission_path, class: "btn btn-primary btn-large  btn-right", id: "btn-Finalize_Sub"%>

<div class="images">
  <%= render @submission.images %>
</div>

