<%= render partial: 'shared/progressbar', locals: { bar_percent: 66, step: "Étape 3 de 3"}%>

<p>Utilisez le boutons blanc ou
  glissez-déposez vos fichiers d'image dans la boîte verte qui l'entoure.</p>

<p>En glissant-déposant, plusieurs images peuvent être ajoutés d'un coup. </p>

<div class="alert alert-error"> Veuillez être patient s.v.p.
 Chaque image peut prendre entre plusieurs secondes à une minute pour être uploadé. </div>

<p>Le mode glisser-déposer marche seulement si Javascript est activé dans votre browser.</br>
  (Le cas échéant, il faut utiliser le bouton "Ajouter Images".)</p>

<p>Un dossier doit comprendre un maximum de 10 images numériques.</p>
<p>Les images numériques doivent:</p>
<ul>
  <li>être en format JPEG, avec extension de fichier .jpg </li>
  <li>avoir dimensions minimales 5 x 7 po (ou 7 x 5 po) avec une résolution de 300 dpi</li>
  <li>avoir dimensions maximales 8.5 x 11 po (ou 11 x 8.5 po) avec une résolution de 300 dpi</li>
</ul>
<p>Chaque fichier JPEG doit laisser voir dans ses propriétés, les informations suivantes:
date de la prise de vue; modèle d’appareil photo; temps d’exposition; vitesse iso; focale (soit f0 ou f-). Les fichiers sans propriétés ne seront pas considérés.</p>

<%= form_for [@submission, Image.new], html: {class: 'form-horizontal'} do |f| %>

  <div class="control-group">
    <%= f.label :image_file, "Fichiers d'images", :class => "control-label" %>
    <div class="controls"><%= f.file_field :image_file, multiple: true, name: "image[image_file]" %>
    </div>
  </div>
  <noscript>
    <div class="control-group">
      <div class="controls"> <%= f.submit "Ajouter images", class: "btn btn-small btn-inverse", id: "btn-Submit_Sub" %></div>
    </div>
  </noscript>

<% end %>
<%= button_to 'Finalisez soumission', complete_submission_path, class: "btn btn-primary btn-large  btn-right", id: "btn-Finalize_Sub"%>

<div class="images">
  <%= render @submission.images %>
</div>

