<div class="progress">
  <div class="bar" style="width: 66%;"></div>
</div>
<div class="progress-label">Étape 3 de 3</div>
<%= form_for [@submission, Image.new], html: {class: 'form-horizontal'} do |f| %>

  <div class="control-group">
    <%= f.label :image_file, "Fichiers d'Images", :class => "control-label" %>
    <div class="controls"><%= f.file_field :image_file, multiple: true, name: "image[image_file]" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls"> <%= f.submit "Déposer soumission" %></div>
  </div>

<% end %>
<%= button_to 'Finalisez Soumission', complete_submission_path(@submission), class: "btn btn-primary btn-large  btn-right"%>

<div class="images">
  <%= render @submission.images %>
</div>

