<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<h1>Liste de Soumissions</h1>
<table class="table table-striped">
  <tr>
    <th>Artiste</th>
    <th>CV</th>
    <th>Démarche</th>
    <th>Projet</th>
    <th>Exigences Spéciales</th>
    <th>Liste d'Images</th>
  </tr>

<% @submissions.each do |submission| %>
  <tr>
    <td><%= submission.user.first_name + " " + submission.user.last_name%></td>
    <td><%= submission.cv %></td>
    <td><%= submission.artist_statement %></td>
    <td><%= submission.expo_project %></td>
    <td><%= submission.special_needs %></td>
    <td><%= submission.image_list %></td>
  </tr>
<% end %>