<%= render partial: 'shared/progressbar', locals: { bar_percent: 66, step: "Étape 2 de 3"}%>

<h1>Soumission de <%= @submission.user.first_name + " " + @submission.user.last_name%></h1>

<h2>Documents</h2>

  <div class="table-profile">
  <table class="table table-striped">
  <tr>
    <td><%= link_to 'CV', @submission.cv.url, :target => "_blank" %> </td>
  </tr>

  <tr>
    <td><%= link_to 'Démarche', @submission.artist_statement.url, :target => "_blank" %> </td>
  </tr>

  <tr>
    <td><%= link_to 'Projet', @submission.expo_project.url, :target => "_blank" %> </td>
  </tr>

  <% if @submission.special_needs.file %>
  <tr>
    <td><%= link_to 'Exigences spéciales', @submission.special_needs.url, :target => "_blank" %> </td>
  </tr>
  <% end %>

  <% if @submission.image_list.file %>
  <tr>
    <td><%= link_to "Liste d'images", @submission.image_list.url, :target => "_blank" %> </td>
  </tr>
  <% end %>

  <% if @submission.video_link %>
  <tr>
    <td><%= link_to "Lien video", @submission.video_link, :target => "_blank" %> </td>
  </tr>
  <% end %>

</table>
</div>

<%= link_to raw('<i class="icon-edit"></i> Editez soumission'), edit_submission_path, class: "btn btn-small btn-inverse", id: "link-Edit_Sub"%>

<%= link_to 'Ajoutez images', submission_images_path, class: "btn btn-primary btn-large", id: "link-Add_Images"%>