<h1>Submission for <%= @submission.user.first_name + " " + @submission.user.last_name%></h1>

<h2>Documents</h2>

<ul>
  <li><%= @submission.cv %></li>
  <li><%= @submission.artist_statement %></li>
  <li><%= @submission.expo_project %></li>
  <li><%= @submission.special_needs %></li>
  <li><%= @submission.image_list %></li>
</ul>

<%= link_to 'Editez Soumission', edit_submission_path(@submission) %>

<%= form_for [@submission, Image.new], html: {class: 'form-horizontal'} do |f| %>

  <div class="control-group">
    <%= f.label :image_file, "Fichiers d'Images", :class => "control-label" %>
    <div class="controls"><%= f.file_field :image_file %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls"> <%= f.submit "Déposer soumission" %></div>
  </div>

<% end %>

<div class="images">
  <%= render @submission.images %>
</div>