<h1>Soumission de <%= @submission.user.first_name + " " + @submission.user.last_name%></h1>

<h2>Documents</h2>

  <div class="table-profile">
  <table class="table table-striped">
  <tr>
    <td>CV: </td>
    <td> <%= @submission.cv %></td>
  </tr>

  <tr>
    <td>Démarche: </td>
    <td> <%= @submission.artist_statement %></td>
  </tr>

  <tr>
    <td>Projet: </td>
    <td> <%= @submission.expo_project %></td>
  </tr>

  <tr>
    <td>Exigences Spéciales: </td>
    <td> <%= @submission.special_needs %></td>
  </tr>

  <tr>
    <td>Liste d'Images: </td>
    <td> <%= @submission.image_list %></td>
  </tr>
</table>
</div>

<%= link_to raw('<i class="icon-edit"></i> Editez Soumission'), edit_submission_path(@submission), class: "btn btn-small"%>

<%= form_for [@submission, Image.new], html: {class: 'form-horizontal'} do |f| %>

  <div class="control-group">
    <%= f.label :image_file, "Fichiers d'Images", :class => "control-label" %>
    <div class="controls"><%= f.file_field :image_file, multiple: true, name: "image[image_file]" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls"> <%= f.submit "Déposer soumission" %></div>
  </div>

<% end %>


<div class="images">
  <%= render @submission.images %>
</div>