<p><%= notice %></p>

<h1>List of Annual Submissions</h1>

<% @annual_submissions.each do |as| %>
  <ul>
    <li>Artist <%= as.user.first_name + " " + as.user.last_name%></li>
    <li>CV <%= as.cv %></li>
    <li>Artist Statement <%= as.artist_statement %></li>
    <li>Expo Project <%= as.expo_project %></li>
    <li>Special Needs <%= as.special_needs %></li>
    <li>Image List <%= as.image_list %></li>
  </ul>
<% end %>