<!DOCTYPE html>
<html>
<head>
  <title>Vvapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <h1 id="site-title">
    <span>
      Voix Visuelle
    </span>
  </h1>
  <div id="site-description"><a href="http://voixvisuelle.ca/">Le Centre d'artistes Voix Visuelle</a></div>
</div>
<div class="container">
  <div class="projets">
    <h1> Appel de Projets d'Exposition 2013 </h1>
  </div>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav">
      <% if session[:user_id] %>
        <!-- this section causes issues -->
           <!-- insert problemBit here -->
        <!-- end of section -->
        <li><a href="/logout">Se déconnecter</a></li>
      <% else %>
          <li class="<%= 'active' if current_page?(register_path) %>"><a href="/register">Inscrivez-vous</a></li>
          <li class="<%= 'active' if current_page?(login_path) %>"><a href="/login">Connectez-vous</a></li>
      <% end %>

      </ul>
    </div>
  </div>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
