<!DOCTYPE html>
<html>
<head>
  <title>Vvapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <h1 id="site-title">
    <span>
      Voix Visuelle
    </span>
  </h1>
  <div id="site-description"><a href="http://voixvisuelle.ca/" target="_blank">Le Centre d'artistes Voix Visuelle</a></div>
</div>
<div class="container">
  <div class="projets">
    <h1> Appel de Projets d'Exposition 2013 </h1>
  </div>
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav">
      <% if @current_user %>
      <% safe_test = @current_user.has_submission? && @current_user.recent_submission.complete %>
        <% if safe_test %>
          <li class="<%= 'active' if current_page?('/submission/images') %>"><a href="/submission/images">Retournez aux Images</a></li>
        <% end %>

        <% if current_page?('/submission/images') || safe_test %>
          <li class="<%= 'active' if current_page?('/submission') %>"><a href="/submission">Retournez aux Documents</a></li>
        <% end %>
        <% if !current_page?('/profile') || safe_test %>
          <li class="<%= 'active' if current_page?('/profile') %>"><a href="/profile">Profile</a></li>
        <% end %>
        <li><a href="/logout">Se déconnecter</a></li>
      <% else %>
          <li class="<%= 'active' if current_page?(register_path) %>"><a href="/register">Inscrivez-vous</a></li>
          <li class="<%= 'active' if current_page?(login_path) %>"><a href="/login">Connectez-vous</a></li>
      <% end %>
      </ul>
    </div>
  </div>

  <% if notice %>
    <p class="notice alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
